#root {
  font-family: "monospace", montserrat, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  position: relative;
  margin: 0;
  padding-top: 1.6rem;
}

.toggle-outline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 1.5em;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
  border: none;
}

.toggle-outline::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: whitesmoke;
  padding: 1.5em;
  z-index: -1;
  animation: bubble 0.8s ease-in-out 1s infinite alternate;
}

@keyframes bubble {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.navbar-toggler {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(16, 146, 146);
  outline: none;
}

.navbar-toggler-icon {
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(225, 225, 225)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M7 9h16M4 15h22M7 21h16'/%3e%3c/svg%3e");
  width: 45px;
  height: 45px;
  transform: rotate(130deg);
  animation: spin-toggle 1.6s ease-in-out 1s infinite alternate;
}

@keyframes spin-toggle {
  0% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(-220deg);
  }
}

.navbar-brand,
.nav-link,
.offcanvas-title,
.nav-link.active {
  font-size: 1.3rem;
  font-weight: 600;
  color: white !important;
  text-shadow: 0px 0px 12px rgb(16, 146, 146);
}

.container-fluid .navbar-brand {
  margin-left: 1em;
  font-size: 2.1em;
}

.offcanvas {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.offcanvas .btn-close {
  margin-top: 1em;
  margin-right: 1em;
  padding: 0.7em;
  background-color: white;
}

.offcanvas-header{
  display: flex;
  margin: 0;
  justify-content: end;
  align-items: center;
  padding: 1.6em .8em;
}

.navbar-nav {
  margin: 0 auto;
  padding-top: 13rem;
}

/* {<>} */

.anim-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-animation {
  position: relative;
  margin: 3rem auto;
  height: 288px;
  width: 288px;
  border: 2px dotted rgba(16, 146, 146, 0.35);
  padding: 4rem;
  border-radius: 50%;
  animation: profile 5s ease-in 0.5s infinite alternate-reverse;
}

.profile-pic {
  background-image: url("./assets/userpics.jpg");
  background-size: cover;
  position: absolute;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px rgba(9, 202, 202, 0.639);
}

@keyframes profile {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typewriter-div {
  display: flex;
}

.typewriter-div .user {
  position: relative;
  margin: 0 auto;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 0.9;
  text-transform: uppercase;
  text-shadow: 0 0 35px rgb(8, 60, 60);
  border-right: 0.15em solid rgb(16, 146, 146);
  animation: typing 1s steps(30, end) forwards, blink-caret 3s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(16, 146, 146);
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.role {
  margin: 0;
  padding-top: 0.6em;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

#react {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(9, 202, 202);
}

#about {
  padding-top: 0.6rem;
  font-size: 0.97em;
  font-weight: 600;
}

#line {
  display: block;
}

.intro button.explore {
  position: absolute;
  padding: 0.3em 2em;
  background-color: rgb(9, 202, 202);
  color: white;
  border-radius: 2em;
  border: 7px solid rgba(0, 0, 0, 0.425);
  font-family: "monospace";
  box-shadow: 0 0 35px rgb(8, 60, 60);
}

.bouncy {
  position: relative;
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  animation: bounce 1.5s ease-in-out 1s infinite alternate;
}

.explore a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(8, 60, 60);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: lowercase;
  font-family: "monospace";
}

@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}

.portfolio,
.contact {
  margin-top: 5rem;
}

/*  LOGIN PAGE DESIGN */

.login-header {
  margin: 7.7em 0 1em 0;
  font-family: Montserrat;
  font-size: 1.6rem;
  text-transform: capitalize;
}

label {
  display: inline-block;
  margin-bottom: 0.3em;
  font-family: Montserrat;
  text-transform: capitalize;
  font-size: 1.2rem;
}

input {
  height: 2.6em;
  width: 60%;
  padding: 0 1em;
  /* margin-left: 2em; */
  margin-bottom: 1.5em;
  border: none;
  border-radius: 6px;
  outline: none;
}

button.login {
  padding: 0.3em 6.95rem;
  font-family: Montserrat;
  /* text-transform: uppercase; */
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 203, 203);
}

.login a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.4em;
}

.portfolio {
  padding: 0 1em;
}

.storyline {
  margin: 0 2em;
  padding: 0 2em;
  border: none;
  border-radius: 15px;
  background-color: rgb(16, 146, 146);
}
