#root {
  font-family: "monospace", montserrat, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  margin: 0 auto;
  text-align: center;
  --bg1: whitesmoke;
  --bg2: rgb(8, 60, 60);
  --bg3: rgb(9, 202, 202);
  --t-color1: rgb(8, 60, 60);
  --t-color2: whitesmoke;
}

/****************************************/
/*            NAVBAR STYLING            */
/****************************************/

.navbar {
  position: relative;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  justify-content: end;
  padding: 1.6em 0.8em;
}

.toggle-outline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 1.5em;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.toggle-outline::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: var(--bg1);
  padding: 1.5em;
  z-index: -1;
  animation: bubble 0.8s ease-in 1s infinite alternate;
}

.navbar-toggler {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--bg2);
  outline: none;
}

.navbar-toggler-icon {
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(225, 225, 225)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M7 9h16M4 15h22M7 21h16'/%3e%3c/svg%3e");
  width: 45px;
  height: 45px;
  transform: rotate(130deg);
  animation: spin-toggle 1.6s ease-in-out 1s infinite alternate;
}

.navbar-brand,
.nav-link,
.offcanvas-title,
.nav-link.active {
  font-size: 1.8rem;
  color: var(--t-color1) !important;
  text-shadow: 0px 0px 12px rgb(16, 146, 146);
}

.container-fluid .navbar-brand {
  margin-left: 1em;
  font-size: 2.1em;
}

.offcanvas {
  display: flex;
  justify-content: center;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg1);
  animation: swipe-left 0.25s ease-out;
}

.offcanvas-header {
  display: flex;
  margin: 0;
  padding: 0;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/****************************************/
/*          LANDING PAGE STYLING        */
/****************************************/

.landing-page {
  width: 100%;
  height: 80vh;
  position: relative;
}

.scrollbar {
  position: fixed;
  width: 50px;
  background-color: transparent;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  visibility: visible;
  z-index: 9;
}

.scrollbar .mini-link {
  position: relative;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--bg2);
  opacity: 0.7;
  cursor: pointer;
}

.mini-link::before {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  transform: scale(1.5);
}

.scrollbar .mini-link.active {
  height: 40px;
  opacity: 0.9;
}

.main-page {
  width: 100%;
  position: absolute;
  right: 0;
  animation: swipe-right 1.5s ease-out;
}

.anim-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-animation {
  position: relative;
  margin: 3rem auto;
  height: 288px;
  width: 288px;
  border: 2px dotted rgba(8, 60, 60, 0.3);
  padding: 4rem;
  border-radius: 50%;
  animation: spinner 2s ease-in 0.5s infinite alternate-reverse;
}

.profile-pic {
  background-image: url("./assets/userpics.jpg");
  background-size: cover;
  position: absolute;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px rgba(8, 60, 60, 0.9);
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
}

.typewriter-div {
  display: flex;
}

.typewriter-div .user {
  position: relative;
  margin: 0 auto;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(8, 60, 60, 0.6);
  border-right: 0.15em solid var(--bg2);
  animation: typing 1s 1.8s steps(30, end) forwards,
    blink-caret 3s step-end infinite;
}

.role {
  margin: 0;
  padding-top: 0.6em;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
}

#react {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(9, 202, 202);
}

#about {
  padding-top: 0.3em;
  line-height: 1.3em;
  font-size: 1.1em;
  font-weight: 400;
}

#line {
  display: block;
}

.cta-box {
  position: relative;
  margin: 1em 0 0 0;
  width: 23em;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
}

.cta-box .explores,
.cta-box .contact {
  position: absolute;
  animation: bounce 1.5s ease-in-out 1s infinite alternate;
}

.explores {
  left: 1%;
}

.contact {
  right: 1%;
}

button.explore {
  padding: 0.3em 1.6em;
  /* background-color: var(--bg1); */
  border: 0.05em solid var(--bg2);
  border-radius: 0.5em;
  box-shadow: 0 0 15px rgba(8, 60, 60, 0.3);
}

.explores button.explore {
  background-color: var(--bg2);
}

.contact button.explore {
  background-color: var(--bg1);
}

button.explore a {
  text-decoration: none;
  color: var(--t-color1);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "montserrat";
}

.explores button.explore a {
  color: var(--t-color2);
}

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  /* background-color: whitesmoke; */
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.skill-box {
  width: 20em;
  height: 20em;
  border: none;

  background-color: whitesmoke;
}

/****************************************/
/*               ANIMATIONS             */
/****************************************/

@keyframes bubble {
  from {
    background-color: rgba(8, 60, 60, 0.25);
  }
  to {
    background-color: rgba(8, 60, 60, 0.05);
  }
}
@keyframes bubble-reversed {
  from {
    background-color: rgba(8, 60, 60, 0.05);
  }
  to {
    background-color: rgba(8, 60, 60, 0.25);
  }
}

@keyframes spin-toggle {
  0% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(-220deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(16, 146, 146);
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: 10px;
  }
}

@keyframes swipe-right {
  0% {
    left: -300px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes swipe-left {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

/****************************************/
/*            PORTFOLIO PAGE            */
/****************************************/

.portfolio .skill-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--bg3);
}

.skill-set .skill-box {
  width: 80%;
  border: 2px solid var(--bg3);
}
